<% @page_title = "UserAuth | Login" -%>
<div class= "Sign_Form">
	<h1>Log in</h1>

	<%= form_tag(:action => 'login_attempt') do %>
		<p><%= text_field_tag :username_or_email, nil, class: 'form-control', placeholder: "Username Or Email" %></p>
		<p><%= password_field_tag :login_password, nil, class: 'form-control', placeholder: 'Password' %></p>
		<%= submit_tag "Log In", class: 'btn btn-primary' %>
	<% end %>
</div>
<br />
<%= link_to "Signup", signup_path, class: 'btn btn-primary' %>